<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
          <li>
            <a href="{{ site.baseurl }}/steps/testable_code.html" {% if page.url == "/steps/testable_code.html" %}class = "active"{% endif %}>Testable Code</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/steps/go_refactor.html" {% if page.url == "/steps/go_refactor.html" %}class = "active"{% endif %}>Go refactor</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/refactor_to_be_testable.html" {% if page.url == "/steps/refactor_to_be_testable.html" %}class = "active"{% endif %}>Refactor to be testable</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/using_a_test_database.html" {% if page.url == "/steps/using_a_test_database.html" %}class = "active"{% endif %}>Using a test database</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/steps/better_database_connections.html" {% if page.url == "/steps/better_database_connections.html" %}class = "active"{% endif %}>Better database connections</a>
                </li>
            </ul>
          </li>
          <li>
              <a href="{{ site.baseurl }}/steps/promises.html" {% if page.url == "/steps/promises.html" %}class = "active"{% endif %}>Promises intro</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/refactor_to_using_promises.html" {% if page.url == "/steps/refactor_to_using_promises.html" %}class = "active"{% endif %}>Refactor to use Promises</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/mvc.html" {% if page.url == "/steps/mvc.html" %}class = "active"{% endif %}>The MVC pattern</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/steps/the_future.html" {% if page.url == "/steps/the_future.html" %}class = "active"{% endif %}>The future</a>
          </li>
    </ul>
  </nav>
</footer>
